.siteLayout {
    padding: 0 50px;
}

.breadcrumb {
    margin: 16px 0;
}

.container {
    padding: 24px 0;
    min-height: calc(100vh - 170px);
}

.sider {
    width: 200px;       
}

.content {
    padding: 0 24px;
    min-height: 280px;
}